td, th
{
	border: 2px solid black;
	border-color: blue;
	padding; 50px;
}
h1{
	font-size: 50px;
	font-family: 'montserrat', sans-serif;
}

table
{ 
	padding-right: 100px;
	font-family: 'karla', sans-serif;
}
